<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>

    <form action="/checkout" method="post">
        <input type="hidden" name="pokemon" id="pokemon" />
        <input type="hidden" name="berries" id="berries" />

        <h2>Pokemon</h2>
        <ul>
            {% for pokemon in poke_array %}
                <li>
                    <input type="checkbox" name="pokemon[]" value="{{ pokemon.id }}" /> {{ pokemon.name }}
                </li>
            {% endfor %}
        </ul>

        <h2>Berries</h2>
        <ul>
            {% for berry in berries %}
                <li>
                    <input type="checkbox" name="berries[]" value="{{ berry.id }}" /> {{ berry.name }}
                </li>
            {% endfor %}
        </ul>


        <button type="submit">Checkout</button>
    </form>
</body>
</html>
