<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <title>{{ title }}</title>
    </head>

    <body>
        <header>
            <div class="header-top">
                <h1>Pokemon Pet Shop</h1>
                <span>Your one-stop shop for Pokemon!</span>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/shop">Shop</a>
            </nav>
        </header>