/*HEADER*/
/* Add any custom CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
margin:0px;
padding:0px;
box-sizing: border-box;
  font-family: "Quicksand";
  color: #112B41;
}

body {
    background-color: white;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    /* padding: 100px; */
}
.pikachu-gif {
    width: 100%;
    height: auto;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: #B8DAF5;
    padding:15px;

}

header .header-top{
    text-align: center;
}

header nav{
    text-align: center;
    display: flex;
    align-items: center;
    gap:15px;
}

header nav a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color:black;
}

header nav a:visited{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color:black;
    transition: all 0.15s ease;
}

header nav a:hover,header nav a:active, header nav a:focus{
    color:#5C9DD6;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: all 0.15s ease;
}

/* header nav a:first-of-type{
    margin-right:10px;
} */

header.default body {
    background-color: #5C9DD6;
}

header.shop{
    margin-bottom: 30px;
}

/* header.default{
    background-color: #5D9DD6;
}

header.default .header-top h1, header.default .header-top span{
    color:white;
}

header.default nav a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color:white;
}

header.default nav a:visited{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color:white;
}

header.default nav a:hover,header.default nav a:active, header.default nav a:focus{
    color:#112B41;
    text-decoration: underline;
    text-decoration-thickness: 3px;
} */

/*FOOTER*/
footer{
    background-color: #5D9DD6;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100%;

    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

footer p{
    color:white;
    font-weight: 500;
}

/* HOME PAGE CODE*/
div.container-home{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container-home h1{
    margin-top: 20px;
}

div.container-home a.btn{
    padding:15px 20px;
    background-color: #DB5F56;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0px;
    width: 200px;
}

/* SHOP */
.shop-container{
    margin:15px auto;
    padding:0 15px;
}

.shop-container .row{
    display:flex;
    gap:15px;
}

.shop-container h2{
    text-transform: uppercase;
}

.shop-container .row .item{
    background-color: white;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 250px;
}
.shop-container .row .item .poke_name{
    font-weight: bold;
    text-transform: uppercase;
}

.cart{
    background-color: #4B84C2;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.cart .cart-item{
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.cart .cart-item p:first-of-type{
    font-weight: bold;
}

.cart .cart-item form{
    margin-top: 10px;
}

#shopping-cart .cart-item form button{
    background-color:transparent;
    color:#112B41;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    border:none;
    border-bottom: 2px solid #112B41;
    transition: all 0.15s ease;
}
#shopping-cart .cart-item form button:hover, #shopping-cart .cart-item form button:active, #shopping-cart .cart-item form button:focus{
    color:#DB5F56;
    border-bottom: 2px solid #DB5F56;
    transition: all 0.15s ease;
}

.cart a{
    padding:15px 20px;
    background-color: #DB5F56;
    color:white;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    width: 100%;
    display: block;
    transition: all 0.15s ease;
}

.cart a:hover{
    transition: all 0.15s ease;
    background-color:#363B5C;
}

.cart h3{
    color:white;
}

div.shop-container:first-of-type{
    margin-top: 30px;
}

.shop-container form button[type="submit"]{
    padding:15px 20px;
    background-color:#DB5F56;
    width:100%;
    color:white;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    border:none;
    transition: all 0.15s ease;
}

.shop-container form button[type="submit"]:hover{
    background-color:#5C9DD6;
    transition: all 0.15s ease;
}
.shop-container .item img:hover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#shopping-cart{
    display: none;
    opacity: 0;
    width:100%;
    max-width:500px;
    position: fixed;
    top: 95px;
    right: 0;
    transition: all 0.5s ease;
}

.active{
    display: block !important;
    opacity: 100% !important;
}

.cart-icon{
    position: relative;
}

.cart-icon:hover #shopping-cart{
    display: block;
}

.cart-icon img{
    width: 60px;
    height: auto;
}

.cart-icon .cart-status{
    display: block;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height:30px;
    width:30px;
    border-radius: 50%;

    position: absolute;
    right: 0px;
    bottom:0px;
}

/*CHECKOUT*/
.check-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form.checkout{
    text-align: center;
    margin: 0 auto;
    width:100%;
    max-width:500px;
}

h2.checkout-title{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top:30px;
}

form.checkout .cart-item p:first-of-type{
    font-weight: bold;
}

input[type="submit"]{
    padding:15px 20px;
    background-color:#DB5F56;
    color:white;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
    border:none;
    transition: all 0.15s ease;
}

input[type="submit"]:hover{
    background-color:#112B41;
    transition: all 0.15s ease;
}

/*THANK YOU*/
.thanks-container{
    padding: 20px;
}

.thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4B84C2;
    padding:10px;
    border-radius: 10px;
}

.thanks h2, .thanks p{
    color:white;
}

.thanks-container .receipt{
    display: flex;
    gap:10px;
    margin:20px 0px;
}

.thanks-container .receipt .item{
    background-color: white;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 250px;
}

.poke_name, .berry_name{
    font-weight: bold;
}

.pokemonInfo{
    display: flex;
    flex-direction: column;
}