<!DOCTYPE html>
<html>
<head>
    <title>Checkout Page</title>
</head>
<body>
    <h1>Checkout Page</h1>

    <h2>Select Pokemon:</h2>
    <form method="POST" action="/checkout">
        <div class="cart">
            <h3>YOUR CART</h3>
            {% for item in cart %}
            <div class="cart-item">
                {{item['table_name']}}<br/>
                {{item['name']}}    
            </div>
            {% endfor %}
            <input type="submit" value="Checkout">
        </div>
    </form>
</body>
</html>
