<!DOCTYPE html>
<html>
<head>
    <title>Checkout Page</title>
</head>
<body>
    <h1>Checkout Page</h1>

    <h2>Select Pokemon:</h2>
    <form method="POST" action="/checkout">
        {% for poke in poke_array %}
        <label>
            <input type="checkbox" name="pokemon" value="{{ poke.name }}"> {{ poke.name }} - ${{ poke.price }}
        </label><br>
        {% endfor %}

        <h2>Select Berries:</h2>
        {% for berry in berries %}
        <label>
            <input type="checkbox" name="berries" value="{{ berry.name }}"> {{ berry.name }} - ${{ berry.price }}
        </label><br>
        {% endfor %}

        <input type="submit" value="Checkout">
    </form>
    </div>
    <a href="{{ url_for('Thankyou') }}">Thank You</a>

    <a href="{{ url_for('Reciept') }}">View Reciept</a>
</body>
</html>

