{% with title="Shop" %}
{% include "modules/header.html" %}
{% endwith %}
        <div class="cart">
            <h3>YOUR CART</h3>
            {% for item in cart %}
            <div class="cart-item shop-page">
                <p>{{item['table_name']}}</p>
                <p>{{item['name']}}</p>
                <form action="{{ url_for('remove_from_cart', item_id=item['id']) }}" method="post">
                    <button type="submit">Remove</button>
                </form>
            </div>
            {% endfor %}

            {% if cart %}
            <a href="/checkout">Checkout</a>
            {% endif %}

        </div>

        <div class="shop-container">
            <h2>Pokemon</h2>
            <div class="row">
                {% for pokemon in poke_array %}
        
                <div class="item">
                    <img src="{{pokemon['image']}}" alt="">
                    <span class="poke_name">{{pokemon['name']}}</span>
                    <div class="types">
                        {{pokemon['type']}}
                    </div>
                    {{err_msg}}
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input name="item_id" value="{{pokemon.id}}" hidden>
                        <input name="item_name" value="{{pokemon.name}}" hidden>
                        <input name="item_type" value="POKEMON" hidden>

                        <button type="submit" onClick="full_cart()">Add to cart</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        
        </div>
        
        <div class="shop-container">
            <h2>Berries</h2>
            <div class="row">
                {% for berry in berries %}
        
                <div class="item">
                    <span class="poke_name">{{berry['name']}}</span>
                    <div>Flavors: {{berry['flavor']}}</div>

                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input name="item_id" value="{{berry.id}}" hidden>
                        <input name="item_name" value="{{berry.name}}" hidden>
                        <input name="item_type" value="BERRIES" hidden>
                        <button type="submit" onClick="full_cart()">Add to cart</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        
        </div>

        {% include 'modules/footer.html'%}
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>