{% with title="Reciept" %}
{% include "modules/header.html" %}
{% endwith %}
    
        <label for="Your Reciept">
            <input type="text" id="Pokemon" name="Pokemon" value = "{{ name}}">
    /* Need to put link  to pull information to fill reciept box with pokemon and berries */
    /* Need to put hyper text link to return to home from this page or to shop 
    <div id="pokemonInfo">
        {% if pokemon_info %}
            <h2>
            <p> Thank you for shopping with PokeStop, we hope to see you soon!</p>
            <p>Notice: PokeStop is not liable for any injuries incurred as a result of sold Pokemon!</p>
            <p> No Refunds!</p>
    </div>
    {% include 'modules/footer.html'%}
</body>
</html>
