<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeStop</title>
</head>
<body>
    <h1>Welcome to PokeStop!</h1>
    <p>Your one stop shop for Pokémon.</p>
    
        <label for="Your Reciept">
            <input type="text" id="Pokemon" name="Pokemon" value = "{{ name}}">
    /* Need to put link  to pull information to fill reciept box with pokemon and berries */
    /* Need to put hyper text link to return to home from this page or to shop 
    <div id="pokemonInfo">
        {% if pokemon_info %}
            <h2>
            <p> Thank you for shopping with PokeStop, we hope to see you soon!</p>
            <p>Notice: PokeStop is not liable for any injuries incurred as a result of sold Pokemon!</p>
            <p> No Refunds!</p>
    </div>
</body>
</html>
